- name: Stop Tomcat
  service:
    name: "{{ tomcat_service }}"
    state: stopped

- name: Remove existing ROOT directory
  file:
    path: "{{ tomcat_home }}/webapps/ROOT"
    state: absent

- name: Deploy ROOT.war
  copy:
    src: files/ROOT.war
    dest: "{{ tomcat_home }}/webapps/ROOT.war"
    mode: 0644
  notify: restart tomcat
