apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc-claim
  namespace: devops-project
  labels:
    app: vprodb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: default 