apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: vprodb
  namespace: prod
spec:
  serviceName: vprodb
  replicas: 1
  selector:
    matchLabels:
      app: vprodb
  template:
    metadata:
      labels:
        app: vprodb
    spec:
      containers:
      - name: mysql
        image: sansv/db-webapp-project
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: db-pass
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql

        livenessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 30

        readinessProbe:
          tcpSocket:
            port: 3306
          initialDelaySeconds: 10

  volumeClaimTemplates:
  - metadata:
      name: mysql-data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 5Gi
