apiVersion: apps/v1
kind: Deployment
metadata:
  name: vproapp
  namespace: devops-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vproapp
  template:
    metadata:
      labels:
        app: vproapp
    spec:
      terminationGracePeriodSeconds: 60

      initContainers:
        - name: check-db
          image: busybox
          command: ['sh', '-c', 'until nc -zv vprodb 3306; do sleep 2; done']
        - name: check-cache
          image: busybox
          command: ['sh', '-c', 'until nc -zv vprocache01 11211; do sleep 2; done']
        - name: check-mq
          image: busybox
          command: ['sh', '-c', 'until nc -zv vprormq01 5672; do sleep 2; done']

      containers:
        - name: vproapp
          image: sansv/tomcat-app-image:v1
          ports:
            - containerPort: 8080

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi

          startupProbe:
            httpGet:
              path: /login
              port: 8080
            failureThreshold: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /login
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /login
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 20
