- name: Install and deploy Tomcat
  hosts: app
  gather_facts: yes
  vars_files:
    - vars.yml

  tasks:
    - name: Install Java and Tomcat
      package:
        name: "{{ item }}"
        state: present
      loop:
        - java-11-openjdk
        - tomcat

    - name: Enable Tomcat service
      service:
        name: "{{ tomcat_service }}"
        enabled: yes

    - name: Stop Tomcat
      service:
        name: "{{ tomcat_service }}"
        state: stopped

    - name: Remove existing ROOT directory
      file:
        path: "{{ tomcat_home }}/webapps/ROOT"
        state: absent

    - name: Deploy ROOT.war
      copy:
        src: files/ROOT.war
        dest: "{{ tomcat_home }}/webapps/ROOT.war"
        mode: 0644
      notify: restart tomcat
